/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/fontkit/open-sans-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/fontkit/bebasneue_bold-webfont.eot');
    src: url('../fonts/fontkit/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontkit/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/fontkit/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/fontkit/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/fontkit/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neuebook';
    src: url('../fonts/fontkit/bebasneue_book-webfont.eot');
    src: url('../fonts/fontkit/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontkit/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/fontkit/bebasneue_book-webfont.woff') format('woff'),
         url('../fonts/fontkit/bebasneue_book-webfont.ttf') format('truetype'),
         url('../fonts/fontkit/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/fontkit/bebasneue_light-webfont.eot');
    src: url('../fonts/fontkit/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontkit/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/fontkit/bebasneue_light-webfont.woff') format('woff'),
         url('../fonts/fontkit/bebasneue_light-webfont.ttf') format('truetype'),
         url('../fonts/fontkit/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neuethin';
    src: url('../fonts/fontkit/bebasneue_thin-webfont.eot');
    src: url('../fonts/fontkit/bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontkit/bebasneue_thin-webfont.woff2') format('woff2'),
         url('../fonts/fontkit/bebasneue_thin-webfont.woff') format('woff'),
         url('../fonts/fontkit/bebasneue_thin-webfont.ttf') format('truetype'),
         url('../fonts/fontkit/bebasneue_thin-webfont.svg#bebas_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;

}