
/* Colors 
 primary green: #30B386;
 primary black: #1a2225;
 primary red: #c0392b;
 --------*/

html,body{
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: #fAfAfA;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    position: relative;
    font-weight: normal;
    opacity: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
a:focus, a:hover{
  text-decoration: none;
  color: inherit;
}
ul{
  padding: 0;
}
li{
  list-style-type: none;
}
p{
  font-weight: normal;
}
*:hover, *:focus{
  outline: none !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border: 0;
  box-shadow: none;
  outline: 0 none;
  box-sizing(border-box);
}


textarea,
input[type="text"] ,
input[type="search"] ,
.uneditable-input {
  border: none;
  box-shadow: none;
  font-weight: 300;
  border-radius: 4px !important;
      /*box-shadow: 0 1px 3px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .08);
    -webkit-transition: box-shadow .5s ease;
          -moz-transition: box-shadow .5s ease;
           -ms-transition: box-shadow .5s ease;
          -o-transition: box-shadow .5s ease;
           transition: box-shadow .5s ease;*/
}

textarea:focus,
input[type="text"]:focus ,
input[type="search"]:focus ,
.uneditable-input:focus {
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .15);
    -webkit-transition: box-shadow .5s ease;
          -moz-transition: box-shadow .5s ease;
           -ms-transition: box-shadow .5s ease;
          -o-transition: box-shadow .5s ease;
           transition: box-shadow .5s ease;*/
}


h4{
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  font-family: 'bebas_neuebold';
  letter-spacing: 5px;
}


/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}
/* style icon */
.inner-addon .icon {
  font-size: 1.15em;
  position: absolute;
  padding: .75em;
  pointer-events: none;
}
/* align icon */
.left-addon .icon  { left:  .65em;}
.right-addon .icon { right: .65em;}

/* add padding  */
.left-addon input  { padding-left:  2em; }
.right-addon input { padding-right: 2em; }

.strong, strong{
    color: #444f55;
    font-weight: 700;
    font-family: 'Lora', serif;
}
.viewContainer{
  width: 100%;
  overflow: scroll;
}
.clear-fix{
  clear: both;
}

/* MENU */
.md-sidenav-left.md-locked-open {
  width: 224px;
  min-width: 224px;
  max-width: 224px;
}
.menu{
  background: #1a2225;
  border-bottom: 1px #1a2225 solid;
  padding: 0;
}

.menu .logo img{
  padding: 0;
  height: 35px;
  margin-top: -.15em;
  padding-right: .25em;
}
.menu header{
    height: 6em;
    background-color: #30B386;
    padding: 2em 1em; 
    text-align: center;
}
.menu nav{
  width: 100%;
}
.menu nav ul{
  list-style: none;
  margin: 0;
  padding: 2em; 
  color: #eeeeee;
}
.menu nav ul li{
  padding: .5em 0;
}
.menu nav ul li span{
  font-size: 1.07em;
} 
.icon{
  padding-left: .5em;
}
.icon span{
  padding-left: .75em;
}

.md-sidenav-right{
  width: 524px;
  min-width: 524px;
  max-width: 524px; 
  -webkit-box-shadow: -3px 1px 4px 0 rgba(0,0,0,.084);
  box-shadow: -3px 1px 4px 0 rgba(0,0,0,.084);
  z-index: 9999999999999;
}

.top-bar{
  background: #ffffff;
  padding: 0;
  margin: 0;
  padding: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999999;
  height: 6em;
  -webkit-box-shadow: 0px 0px 8px -1px #E2E2E2;
  -o-box-shadow: 0px 0px 8px -1px #E2E2E2;
  -moz-box-shadow: 0px 0px 8px -1px #E2E2E2;
    box-shadow: 0px 0px 8px -1px #E2E2E2;

    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -ms-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease;
}
/*.top-section.searchFocused{
  background: #f2f2f2;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -ms-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease;
}*/
.search-wrapper{
  width: 70%;
  float: left;
}
.search-form{
  padding: 0;
  margin: 0;
}
.search-form input, .search-form input:focus{
  border-right: 1px solid #ddd;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.search-bar{
  margin: 0 1em;
  font-size: 1.25em;
  text-align: left;
  color: #777777;
  padding: 1.15em .75em;
  background: #ffffff;
}

.actions-wrapper{
  width: 30%;
  float: left;
}
ul.actions{
  padding: 0;
  margin: 0;
}
.action{
  display: inline-block;
  width: 50%;
  text-align: center;
}
li.action a {
  width: 100%;
  text-align: center;
  padding: 1em;
  color: #BDBDBD;
  font-size: 1.1em;
}

.result-wrapper{
  margin-top: 6em;
  overflow: auto;
}


/* CARDS */
.card{
  width: 40em;
  margin: 0 auto;
  border-radius: 4px;
}
.card > .title-image {
  background: #dddddd no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 50%;
  height: 20em;
  border-radius: 2px 0 0 2px;
  position: relative;
}

.card > .title-image h1{
  width: 100%;
  color: #fff;
  text-align: center;
  margin: 0;
  font-family: 'bebas_neuebold';
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  left: 0;
  z-index: 999;
}
.card > .blurb {
  background: #fff;
  width: 50%;
  height: 20em;
  padding: 2em;
  border-radius:  0 2px 2px 0;
}
.card > .blurb > p {
  margin: 1em 0;
  text-size: .9em;
  max-height: 13em;
  overflow: scroll;
}
.card > .blurb > h1 {
  color: #1a2225;
  margin: 0;
  padding: 0;
  font-family: 'bebas_neuebold';
  font-size: 3rem;
  font-weight: bold;
}
.card > .blurb > h6 {
  color: red;
  font-size: .79em;
}

.artist{
  width: 33.25%;
  float: left;
  padding: 1em;
}
.small-card{
  width: 18em;
  height: 18em;
  margin: auto;
   -webkit-transition: box-shadow .5s ease;
          -moz-transition: box-shadow .5s ease;
           -ms-transition: box-shadow .5s ease;
          -o-transition: box-shadow .5s ease;
           transition: box-shadow .5s ease;
}
.small-card .title-image{
  background: #dddddd no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 2px 0 0 2px;
  position: relative;
  width: 18em;
  height: 15em;
}
.small-card .blurb{
  width: 100%;
  height: 3em;
  padding: .3em;
  display: table;

}
.small-card .blurb h1{
  width: 100%;
  color: #1c1c1c;
  margin: 0;
  font-family: 'bebas_neuebold';
  font-weight: bold;
  padding-left: .3em;
  font-size: 2rem;
    line-height: .8;
    display: table-cell;
    vertical-align: middle;
}

.small-card:focus, .small-card:active, .small-card:hover{
  outline:0 !important;
   -webkit-transition: box-shadow .5s ease;
          -moz-transition: box-shadow .5s ease;
           -ms-transition: box-shadow .5s ease;
          -o-transition: box-shadow .5s ease;
           transition: box-shadow .5s ease;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.14),0 6px 10px 0 rgba(0,0,0,.098),0 1px 18px 0 rgba(0,0,0,.084);
}


.searched-artists{
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: rgba(0,0,0,.8);
  -webkit-overflow-scrolling: touch;
}
.searched-artists ul{
  margin: auto;
  width: 350px;
  max-width: 500px;
  overflow: visible;
}

.searched-artist{
  position: relative;
  height: 350px;
  width: 350px;
  box-sizing: border-box;
  display: inline-block;
}

.searched-artist .wrapper{
  width: 275px;
  height: 275px;
  margin: auto;
}
.searched-artist .wrapper .title-image {
  background: #dddddd no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  border-radius: 2px 0 0 2px;
  position: relative;
}
.searched-artist h1{
  width: 100%;
  color: #ffffff;
  margin: .25em 0;
  text-align: center;
  font-family: 'bebas_neuebold';
  font-weight: bold;
  font-size: 3rem;
}


/* Empty search page */ 
.empty-search{
  margin-top: 6em;
  overflow: auto;
}
.genres-moods{
  padding: 2em 1em;
}
.genres-moods .wrapper{
  width: 100%;
  max-width: 650px;
  margin: auto;
  text-align: center;
}
.genres-moods a{
    list-style-type: none;
    display: inline-block;
    padding: .5em 1.5em;
    margin: .3em .6em;
    border: 1px solid #30B386;
    color: #30B386;
    font-weight: bold;
    border-radius: 50px;


    -webkit-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    -ms-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    transition: all .35s ease-out;
}
.genres-moods a:hover{
  background-color: #30B386;
  color: #ffffff;
}


.search-error{
  opacity: 0;
  display: none;
  display: block;
  margin: 4em 0;
}
.search-error img{
  display: block;
  width: 100px;
  margin: auto;
  padding-bottom: 2em;
}
.search-error p{
  text-align: center;
  display: block;
  width: 300px;
  margin: auto;
  color: #bbbbbb;
  font-family: 'bebas_neuebold';
  font-weight: bold;
  font-size: 2rem;
}
/* ------ */




.artist-detail{
  position: relative;
  height: 100%;
}
.artist-detail .title-image{
  position: relative;
  width: 100%;
  height: 250px;
  background: #dddddd no-repeat top center 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   -webkit-transition:  background-position 2s ease;
          -moz-transition:  background-position 2s ease;
           -ms-transition:  background-position 2s ease;
          -o-transition:  background-position 2s ease;
           transition:  background-position 2s ease;
}
.artist-detail .title-image:hover{
  background-position: 50% 50%;

   -webkit-transition:  background-position 2s ease;
          -moz-transition:  background-position 2s ease;
           -ms-transition:  background-position 2s ease;
          -o-transition:  background-position 2s ease;
           transition:  background-position 2s ease;

}
.artist-detail .title-image .title-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.1);
}
.artist-detail .title-image h1{
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 1em 0;
  color: #fff;
  text-align: center;
  margin: 0;
  font-family: 'bebas_neuebold';
  font-size: 3rem;
}
.artist-detail .artist-content{
    position: relative;
}
.artist-detail ul.artist-menu{
    /* text-align: center; */
    display: inline-block;
    margin: 0;
    padding: 1em;
    background: #ffffff !important;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid rgba(221, 221, 221, 0.35);
}
.artist-detail ul.artist-menu li{
  display: inline-block;
  margin: 0;
  padding-left: 2em;
  list-style: none;
  font-family: 'bebas_neuebold';
  font-size: 1.85rem;
}
 .artist-content p{
    position: absolute;
    height: 100%;
    overflow: scroll;
    padding: 3em;
    padding-top: 80px;
    max-width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 9990;
    font-size: 1.5rem;
}
.artist-content p a{
  color: #30B386;
  font-weight: bold;
  text-decoration: underline;
}

.artist-detail .links{
  width: 100%;
  height: 82px; 
  display: table;
  font-size: 3em;
  background: #ffffff;
  border-top: 1px solid rgba(221, 221, 221, 0.35);
}
.artist-detail .links .link{
    padding-left: 1em;
    display: table-cell;
    vertical-align: middle;
}

   .social-icons-lastFm:before {
      content: "\37";
   }
   .social-icons-youtube:before {
      content: "\79";
   }
   .social-icons-spotify:before {
      content: "\74";
   }
   .touch #lastfm a{
      color: #D01F3C;
   }
   .touch #spotify a{
      color: #81b71a;
   }
   .touch #youtube a{
      color: #c0392b;
   }

   #lastfm a:hover{
      color: #D01F3C;
   }
   #spotify a:hover{
      color: #81b71a;
   }
   #youtube a:hover{
      color: #c0392b;
   }
  
.bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.similar-artists{
  background-color: #ffffff;
  margin-top: -2em;
  padding-top: 3em;
  padding-bottom: 4em;
  position: relative;
}
.similar-artists ul{
  max-width: 90%;
  margin: auto;
}
.tags{
  display: block;
  width: 250px; 
  margin: 1em auto;
  text-align: center;
}


@media (max-width: 1100px){
   .artist{
    width: 50%;
    float: left;
    padding: 1em;
  }
}

@media (max-width: 970px){
   .artist{
    width: 50%;
    float: left;
    padding: 1em;
  }
}

@media (max-width: 768px){
  .artist{
    width: 50%;
    float: left;
    padding: 1em;
  }
  .card{
    padding: 1em;
    max-width: 30em;
    width: 100%;
  }
  .card .title-image, .card .blurb{
    width: 100%;
  }
}
@media (max-width: 615px){
  .small-card{
    width: 13em;
    height: 14em;
    margin: auto;
  }
  .small-card .title-image{
    width: 13em;
    height: 11em;
  }
  .md-sidenav-right{
    width: 450px;
    min-width: 450px;
    max-width: 450px; 
  }
  .searched-artists{
    height: 275px;
  }
  .searched-artists ul{
    width: 175px;
    max-width: 175px;
  }
  .searched-artist{
    height: 200px;
    width: 200px;
  }
  .searched-artist .wrapper{
    width: 175px;
    height: 175px;
  }

  .artist-detail .artist-content p{
    padding: 1em;
    padding-top: 70px;
  }
}

@media (max-width: 480px){
  .small-card .blurb h1{
    padding-left: 0;
    font-size: 1.7rem;
  }
  .small-card{
    width: 11em;
    height: 13em;
    margin: auto;
  }
  .small-card .title-image{
    width: 11em;
    height: 10em;
  }
  .onDesk{
    display: none;
  }
  .md-sidenav-right{
    width: 350px;
    min-width: 350px;
    max-width: 350px; 
  }
}





/* Overriding default material style */
md-content{
  width: 100% !important;
  background-color: #fAfAfA !important;
}
md-chips .md-chips {
  box-shadow: none;
}
md-chips .md-chip {
  background: #ccc;
  color: #fff;
  float: none;
  margin: auto;
  padding: 0 12px 0 12px !important;
}
md-backdrop.md-opaque {
    background-color: rgba(0,0,0,0.25) !important;
}


