<section ng-controller="SearchCtrl">
	<div class="top-bar" ng-class="{ searchFocused: searchFocus}">
		<section class="search-wrapper">
			<form class="search-form" ng-submit="search()">
		  		<div class="inner-addon left-addon">
	  				<span class="icon-search icon"></span>
					<input type="text" ng-focus="searchFocus = true" ng-blur="searchFocus = false" class="search-bar form-control" ng-model="query" placeholder="{{ 'SEARCH' | translate }}">
				</div>	  				
			</form>
		</section>
		<section class="actions-wrapper">
			
		</section>
	</div>
	<div class="result-wrapper" ng-if="!emptySearch">
		<div class="searched-artists" ng-if="!searchError && !searching && !isMoodOrGenre">
			<ul>
				<li class="searched-artist" ng-click="checkArtist(singleArtist)" ng-repeat="singleArtist in multipleArtists">
				    <div class="wrapper">
					    <div class="title-image"  ng-style="{'background-image':'url('+singleArtist.image[4]['#text']+')'}"></div>
					    <div class="">
						    <h1>{{singleArtist.name}}</h1>
					    </div>
				    </div>
				 </li>
			</ul>
		</div>
		<div class="similar-artists" ng-if="!searchError  && !searching">
			<header ng-if="similarArtist.length > 0">
				<h4 ng-if="!isMoodOrGenre">Similar artists</h4>
				<h4 ng-if="isMoodOrGenre">#{{ selectedMoodOrGenre }}</h4>
			</header>
			<ul>
				<li class="artist" ng-repeat="artist in similarArtist">
					<div class="small-card md-whiteframe-z1" ng-click="checkArtist(artist)">
					    <div class="title-image"  ng-style="{'background-image':'url('+artist.images[1]+')'}">
					    </div>
					    <div class="blurb">
						    <h1>{{artist.name}}</h1>
					    </div>
					 </div>
				</li>
			</ul>
			<div class="clear-fix"></div>
		</div>
	</div>
	<div class="search-error" ng-if="!emptySearch && !mode">
		<img src="img/error.png">
		<p>{{ searchError }}</p>
	</div>
	<div class="empty-search" ng-if="emptySearch">
		<div class="genres-moods">
			<div class="wrapper">
				<h4>Genres</h4>
				<a class="genre-mood" ng-href="#/Search/{{genremood}}" ng-repeat="genremood in genresmoods">#{{ genremood }}</a>	
			</div>
		</div>
		<div class="search-history">
				
		</div>
		
	</div>
</section>

