<!DOCTYPE html>
<html ng-app="delrollode">
    <head>
        <meta charset="utf-8">
        <title>DelRollo.de</title>
        <meta name="description" content="Discover new music and find similar artists to the ones you like. DelRollo.de allows you to search by typing the name of the artists and links you to useful external applications such as LastFm, Spotify and Youtube.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
        <!-- build:css styles/vendor.css -->
            <!-- injector:bowercss -->
            <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css">
            <link rel="stylesheet" href="libs/angular-material/angular-material.css">
            <!-- endinjector -->
        <!-- endbuild -->

        <!-- build:css({.tmp,app}) styles/main.css -->
          <!-- injector:css -->
          <link rel="stylesheet" href="css/font.css">
          <link rel="stylesheet" href="css/main.css">
          <link rel="stylesheet" href="fonts/icomoon/style.css">
          <!-- endinjector -->
        <!-- endbuild -->

    </head>
    <body ng-controller="MainCtrl" ng-cloak class="ng-cloak" >
        <!--[if lt IE 7]>
          <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!--[if lt IE 9]>
          <script src="libs/es5-shim/es5-shim.js"></script>
          <script src="libs/json3/lib/json3.min.js"></script>
        <![endif]-->

        <!-- Application content here -->
        <div layout="row">
          <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('min-width: 768px')" class="md-sidenav-left menu">
                <header>
                    <a class="logo" href="#Search"><img src="img/favicon.jpg"><!--<span class="">{{ 'APPNAME' | translate }}</span>--></a>
                </header>
                <nav>
                    <ng-include src="'partials/nav.html'">
                </nav>
          </md-sidenav>
          <md-content>
                <div class="viewContainer" ng-view=""></div>
          </md-content>
          <md-sidenav md-component-id="right" class="md-sidenav-right" ng-swipe-right="closeDetail()" >
            <div class="artist-detail" ng-if="artistDetail">
                <div class="title-image"  ng-style="{'background-image':'url('+artistDetail.artistImages[4]['#text']+')'}">
                    <div class="title-overlay">
                        <h1>{{ artistDetail.data.name }}</h1>
                    </div>
                </div>
                <div class="artist-content">
                    <ul class="artist-menu">
                        <li>Bio</li>
                        <li>Events</li>
                    </ul>
                    <p ng-bind-html="artistDetail.data.bio.content"></p>
                </div>
                <div class="bottom links">
                   <div class="link" id="lastfm">
                        <a ng-href="{{ artistDetail.data.url }}" target="blank">
                            <span class="social-icons-lastFm"></span>
                        </a>
                    </div>
                </div>    
            </div>
            
          </md-sidenav>
        </div>

        <!-- build:js scripts/vendor.js -->
            <!-- injector:bowerjs -->
            <script src="libs/es5-shim/es5-shim.js"></script>
            <script src="libs/jquery/dist/jquery.js"></script>
            <script src="libs/angular/angular.js"></script>
            <script src="libs/bootstrap/dist/js/bootstrap.js"></script>
            <script src="libs/json3/lib/json3.min.js"></script>
            <script src="libs/angular-route/angular-route.js"></script>
            <script src="libs/angular-resource/angular-resource.js"></script>
            <script src="libs/angular-animate/angular-animate.js"></script>
            <script src="libs/angular-touch/angular-touch.js"></script>
            <script src="libs/angular-cookies/angular-cookies.js"></script>
            <script src="libs/angular-loader/angular-loader.js"></script>
            <script src="libs/angular-sanitize/angular-sanitize.js"></script>
            <script src="libs/angular-translate/angular-translate.js"></script>
            <script src="libs/velocity/velocity.js"></script>
            <script src="libs/velocity/velocity.ui.js"></script>
            <script src="libs/angular-aria/angular-aria.js"></script>
            <script src="libs/angular-material/angular-material.js"></script>
            <!-- endinjector -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
            <!-- injector:js -->
            <script src="js/app.js"></script>
            <script src="js/i18n.js"></script>
            <script src="js/controllers/main.js"></script>
            <script src="js/controllers/search.js"></script>
            <script src="js/directives/directives.js"></script>
            <script src="js/services/services.js"></script>
            <script src="js/model/model.js"></script>
            <!-- endinjector -->
        <!-- endbuild -->
    </body>
</html>
